body,
html {
  color: #f1f1f1;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "merriweather", serif;
  font-size: 20px;
}

span {
  color: #1f85a8;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 900;
}

a:hover {
  color: #1f85a8;
}

.heady {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

.hero-image {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: url(./img/ayaya.jpg) no-repeat center;
  background-size: cover;
  z-index: 0;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.hero-image * {
  z-index: 10;
}

.grid-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 970px 30px;
}

.header {
  grid-column: 1 / -1;
  justify-content: center;
  background-color: black;
}

.header > div:nth-child(2) {
  margin-left: auto;
  padding: 40px;
}

.menu {
  grid-column: 1 / 7;
  justify-content: right;
  text-align: right;
}

.content {
  grid-column: 7 / -1;
  justify-content: left;
}

.footer {
  grid-column: 1 / -1;
  justify-content: center;
  background-color: black;
}

.grid-page > div {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  z-index: auto;
}

h1 {
  font-weight: 900;
  letter-spacing: 1px;
}

h3 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 17px;
}

h6 {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 10px;
}
